@font-face {
    font-family: re;
    src: url(./Rejouice-Headline.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: re;
}

html,
body {
    height: 100%;
    width: 100%;
}

#cursor {
    height: 7.5vw;
    width: 7.5vw;
    background-color: #FF5F38;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%,-50%);
}
#cursor h5{
    font-size: 1.15vw;
    font-weight: 100;
}

#page1 {
    height: 100vh;
    width: 100%;
    /* background-color: blue; */
    position: relative;
}

#page1 video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

#page1-content {
    height: 100%;
    width: 100%;
    color: #fff;
    position: relative;
    z-index: 10;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

}

nav {
    /* height: 100px; */
    width: 100%;
    color: white;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* background-color: red; */
    padding: 3vw 3vw;


}

nav h3 {
    font-size: 1.4vw;
    font-weight: 100;
}

nav h4 {
    font-size: 1.4vw;
    font-weight: 100;

}

#page1-content h1 {
    font-size: 27vw;
    font-family: re;
    font-weight: 100;
    line-height: 27vw;
}

#page2{
    height: 100vh;
    width: 100%;

}